/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(140, 40%, 48%);
  --first-color-alt: hsl(140, 40%, 44%);
  --title-color: hsl(140, 4%, 12%);
  --text-color: hsl(140, 4%, 40%);
  --text-color-light: hsl(140, 4%, 64%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 95%);
  --shadow-img: drop-shadow(0 8px 12px hsla(0, 0%, 0%, 0.2));
  --filter-img: invert(1);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Cherry Bomb One", cursive;
  --biggest-font-size: 3rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

input,
button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
  line-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.nav__buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}
/*========== Variables Dark Theme ==========*/
body.dark-theme {
  --first-color: hsl(140, 30%, 45%);
  --first-color-alt: hsl(140, 30%, 40%);
  --title-color: hsl(140, 4%, 90%);
  --text-color: hsl(140, 4%, 70%);
  --body-color: hsl(0, 0%, 10%);
  --container-color: hsl(0, 0%, 14%);
  --shadow-img: drop-shadow(0 8px 12px hsla(0, 0%, 0%, 0.6));
  --filter-img: initial;
}

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme :is(.shadow-header, .nav__menu, .scrollup) {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.3);
}

.dark-theme .scrollup {
  background-color: var(--container-color);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsla(0, 0%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 30%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 40%);
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--big-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s, background-color 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title-color);
}

.nav__logo {
  font-family: var(--second-font);
  font-size: var(--h3-font-size);
  column-gap: 0.25rem;
}

.nav__logo img {
  width: 1.25rem;
}

.nav__toggle,
.nav__close {
  font-size: 1.25rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
    padding-block: 4.5rem;
    transition: top 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__img-1,
.nav__img-2 {
  filter: var(--filter-img);
  position: absolute;
}

.nav__img-1 {
  width: 150px;
  top: -2.5rem;
  left: -3.5rem;
  rotate: 180deg;
}

.nav__img-2 {
  width: 50px;
  right: 2.5rem;
  bottom: 2.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Add shadow header */
.shadow-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home {
  position: relative;
}

.home__container {
  padding-top: 2.5rem;
  row-gap: 2rem;
}

.home__data {
  position: relative;
  text-align: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 2rem;
}

.home__fruit,
.home__branch {
  filter: var(--filter-img);
  position: absolute;
}

.home__fruit {
  width: 40px;
  top: 6.75rem;
  left: 1rem;
}

.home__img {
  width: 320px;
  justify-self: center;
  filter: var(--shadow-img);
}

.home__branch {
  width: 120px;
  right: -3rem;
  bottom: 15rem;
}
/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem 2rem;
  border-radius: 4rem;
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  transition: box-shadow 0.4s;
}

.button:hover {
  box-shadow: 0 8px 24px hsla(140, 40%, 48%, 0.3);
}

/*=============== ENJOY ===============*/
.enjoy__container {
  padding-top: 2rem;
  grid-template-columns: 240px;
  justify-content: center;
  row-gap: 2.5rem;
}

.enjoy__card {
  position: relative;
  padding-block: 1.5rem 2.5rem;
  text-align: center;
}

.enjoy__img {
  width: 120px;
  margin: 0 auto 0.75rem;
  filter: var(--shadow-img);
  transition: transform 0.4s;
}

.enjoy__bg {
  width: 100%;
  height: 100%;
  background-color: var(--container-color);
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: skewY(4deg);
  transition: background-color 0.4s;
}

.enjoy__title {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  margin-bottom: 0.25rem;
}

.enjoy__subtitle {
  font-size: var(--small-font-size);
}

.enjoy__card:hover .enjoy__img {
  transform: translateY(-0.3rem);
}
/*=============== ABOUT ===============*/
.about {
  position: relative;
}

.about__container {
  row-gap: 2rem;
}

.about__data {
  position: relative;
  text-align: center;
}

.about__description {
  margin-bottom: 2rem;
}

.about__fruit,
.about__branch {
  filter: var(--filter-img);
  position: absolute;
}

.about__fruit {
  width: 40px;
  bottom: 2rem;
  right: 1rem;
}

.about__img {
  width: 320px;
  justify-content: center;
  filter: var(--shadow-img);
}

.about__branch {
  width: 120px;
  rotate: 60deg;
  left: -3.5rem;
  bottom: 15rem;
}
/*=============== POPULAR ===============*/
.popular__container {
  padding-top: 6rem;
  grid-template-columns: 250px;
  justify-content: center;
  row-gap: 6rem;
}

.popular__card {
  position: relative;
  padding-block: 6.25rem 3rem;
  text-align: center;
}

.popular__bg {
  width: 100%;
  height: 100%;
  background-color: var(--container-color);
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: skewY(4deg);
  transition: background-color 0.4s;
}

.popular__img {
  width: 150px;
  position: absolute;
  top: -4rem;
  left: 0;
  right: 0;
  margin: 0 auto 0.75rem;
  filter: var(--shadow-img);
  transition: transform 0.4s;
}

.popular__title {
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  margin-bottom: 0.25rem;
}

.popular__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 0.75rem;
}

.popular__price {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}

.popular__button {
  width: 36px;
  height: 36px;
  padding: 8px;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  font-weight: initial;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
}

.popular__card:hover .popular__img {
  transform: translateY(-0.3rem);
}
/*=============== JOIN ===============*/
.join__container {
  position: relative;
  padding-bottom: 4rem;
}

.join__content {
  position: relative;
  padding: 2.5rem 1.5rem;
  row-gap: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}

.join__content::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.2);
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
}

.join__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.join__data,
.join__form {
  z-index: 5;
}

.join__data .section__title,
.join__description {
  color: var(--white-color);
  text-align: center;
}

.join__form {
  display: grid;
  row-gap: 0.75rem;
}

.join__input {
  width: 100%;
  padding: 1rem;
  border-radius: 4rem;
  background-color: var(--body-color);
  color: var(--title-color);
  transition: background-color 0.4s;
}

.join__input::placeholder {
  color: var(--text-color);
}

.join__button {
  cursor: pointer;
}

.join__leaf-1,
.join__leaf-2 {
  position: absolute;
  width: 80px;
}

.join__leaf-1 {
  top: -2.5rem;
  left: 0.75rem;
  rotate: 135deg;
}

.join__leaf-2 {
  right: 1.5rem;
  bottom: 1rem;
  rotate: 15deg;
}
/*=============== FOOTER ===============*/
.footer {
  padding-block: 3rem 2rem;
  overflow: hidden;
}

.footer__container {
  position: relative;
  row-gap: 3rem;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  color: var(--title-color);
  margin-bottom: 1rem;
}

.footer__logo img {
  width: 1.25rem;
}

.footer__data {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 3rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer__links {
  display: grid;
  row-gap: 0.75rem;
}

.footer__link {
  color: var(--text-color);
  transition: color 0.4s;
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--first-color);
  transition: transform 0.4s;
}

.footer__social-link:hover {
  transform: translateY(-0.25rem);
}

.footer__fruit,
.footer__branch-1,
.footer__branch-2 {
  filter: var(--filter-img);
  position: absolute;
}

.footer__fruit {
  width: 40px;
  bottom: -2rem;
  right: 2rem;
}

.footer__branch-1 {
  width: 120px;
  right: -3rem;
  top: 0;
  rotate: -90deg;
}

.footer__branch-2 {
  width: 120px;
  left: -5rem;
  bottom: -10rem;
  rotate: 75deg;
}

.footer__copy {
  display: block;
  margin-top: 7rem;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 85%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 65%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 55%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
  display: inline-block;
  padding: 8px;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  color: var(--title-color);
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.5rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .container {
    margin-inline: 1rem;
  }

  .home__title {
    font-size: 2.5rem;
  }

  .home__fruit {
    top: 5.5rem;
  }

  .home__branch {
    right: -4rem;
  }

  .enjoy__container,
  .popular__container {
    grid-template-columns: 220px;
  }

  .about__branch {
    bottom: 12rem;
  }

  .join__content {
    padding: 2rem 1rem;
  }

  .footer__data {
    grid-template-columns: max-content;
    gap: 2rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__container,
  .about__container {
    grid-template-columns: 370px;
    justify-content: center;
  }

  .join__description {
    width: 350px;
    margin: 0 auto;
  }

  .join__form {
    background-color: var(--body-color);
    padding: 0.5rem;
    border-radius: 4rem;
    grid-template-columns: 1fr max-content;
    transition: background-color 0.4s;
  }

  .join__input {
    padding: 1.25rem 1rem;
  }

  .footer__data {
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 768px) {
  .home__container,
  .about__container {
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }

  .home__data,
  .about__data,
  .about__data .section__title {
    text-align: initial;
  }

  .home__fruit {
    left: 10rem;
  }

  .enjoy__container,
  .popular__container {
    grid-template-columns: repeat(2, 250px);
  }

  .about__img {
    order: -1;
  }

  .join__form {
    width: 600px;
    margin: 0 auto;
  }

  .footer__data {
    grid-template-columns: repeat(4, max-content);
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }

  .join__form {
    width: 600px;
    margin: 0 auto;
  }

  .nav__close,
  .nav__img-1,
  .nav__img-2,
  .nav__toggle {
    display: none;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .dark-theme .nav__menu {
    box-shadow: none;
  }

  .home__container {
    grid-template-columns: 470px 600px;
    padding-top: 3.5rem;
  }

  .home__fruit {
    width: 70px;
    left: 19rem;
    top: 12rem;
  }

  .home__title {
    margin-bottom: 1.5rem;
  }

  .home__description {
    padding-right: 5rem;
    margin-bottom: 3rem;
  }

  .home__img {
    width: 600px;
  }

  .home__branch {
    width: 200px;
    bottom: 0;
    right: -5rem;
  }

  .enjoy__container {
    grid-template-columns: repeat(3, 278px);
    column-gap: 2.5rem;
    padding-top: 4rem;
  }

  .enjoy__card {
    padding-block: 1.5rem 3rem;
  }

  .enjoy__img {
    width: 150px;
  }

  .enjoy__title {
    font-size: calc(var(--h2-font-size));
  }

  .about__container {
    grid-template-columns: 600px 400px;
    column-gap: 5.5rem;
  }

  .about__data .section__title {
    margin-bottom: 1.5rem;
  }

  .about__description {
    margin-bottom: 3.5rem;
  }

  .about__fruit {
    width: 70px;
    right: 5rem;
  }

  .about__img {
    width: 600px;
  }

  .about__branch {
    width: 200px;
    bottom: 0;
  }

  .popular__container {
    grid-template-columns: repeat(3, 270px);
    gap: 8rem 3rem;
    padding-top: 8rem;
  }

  .popular__card {
    padding-block: 8rem 3rem;
  }

  .popular__title {
    margin-bottom: 0.5rem;
  }

  .popular__subtitle {
    margin-bottom: 1rem;
  }

  .popular__img {
    width: 180px;
  }

  .popular__button {
    right: 1.5rem;
    bottom: 1.5rem;
  }

  .join__content {
    padding-block: 4rem;
    border-radius: 3.5rem;
  }

  .join__leaf-1,
  .join__leaf-2 {
    width: 100px;
  }

  .join__leaf-1 {
    left: 4rem;
  }

  .join__leaf-2 {
    left: 57rem;
  }

  .footer {
    position: relative;
    padding-block: 5rem 3rem;
  }

  .footer__container {
    position: initial;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer__logo {
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
  }

  .footer__data {
    column-gap: 4.5rem;
  }

  .footer__title {
    margin-bottom: 1.5rem;
  }

  .footer__social {
    column-gap: 1.25rem;
  }

  .footer__social-link {
    font-size: 1.5rem;
  }

  .footer__fruit {
    width: 70px;
    bottom: 5rem;
    right: 35%;
  }

  .footer__branch-1 {
    width: 200px;
    top: 7rem;
    right: -2rem;
  }

  .footer__branch-2 {
    width: 200px;
    left: 20%;
    bottom: -4rem;
  }

  .scrollup {
    right: 3rem;
  }
}
